body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7em;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
	padding: 0;
}

/* Site's Header */

#top-header {
	width: 94%;
	display: flex;
	padding-bottom: 4px;
	height: 259px;
}

#top-contact {
	width: 44.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 5.5%;
}

#top-contact .ph-number {
	font-size: x-large;
	font-weight: 700;
	margin-bottom: 10px;
}

#top-contact .normal {
	font-size: 1rem;
	margin-bottom: 16px;
}

#top-contact .normal:last-child {
	margin: 0;
}

#top-header img {
	width: 50%;
	max-width: 100%;
}

/* Navigation bar */

nav {
	display: flex;
	justify-content: center;
	padding: 29px 0;
	background-color: #000000;
}

nav a {
	font-size: 20px;
	margin: 0 29px 0 0;
	color: #ffffff;
	text-decoration: none;
}

nav a span{
	margin-left: 5px;
	font-size: 14px;
}

nav .dropdown {
	visibility: hidden;
	position: absolute;
}

/* Description */

#description {
	padding-top: 70px;
	display: flex;
	height: 100%;
}

#description > #d-text {
	padding-left: 4em;
	padding-right: 2em;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
}

#description > #d-text h1 {
	font-size: 60px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 0;
}

#description > #d-text p {
	font-size: 16px;
	line-height: 1.7em;
}

#d-image-wrapper {
	width: 50%;
	margin-top: 70px;
}

/* Gallery Section */

#gallery {
	display: flex;
	padding: 81px 0;
}

.gallery-item {
	display: block;
	width: 33.3%;
	padding: 150px 0;
	text-align: center;
	color: white;
	text-decoration: none;
	background-size: cover;
	font-size: 30px;
	text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4);
	position: relative;
}

.gallery-item:nth-child(1) {
	background-image: url('../img/lets-get-started.jpg');
}

.gallery-item:nth-child(2) {
	background-image: url('../img/my-projects.jpg');
}

.gallery-item:nth-child(3) {
	background-image: url('../img/3d-design.jpg');
}
