body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
	padding: 0;
}

button {
	outline: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	cursor: pointer;
}

/* Site's Header */

#top-header {
	width: 94%;
	display: flex;
	padding-bottom: 4px;
	height: 259px;
}

#top-contact {
	width: 48.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 3%;
}

#top-contact .ph-number {
	font-size: x-large;
	font-weight: 700;
	margin-bottom: 10px;
}

#top-contact .normal {
	font-size: 1rem;
	margin-bottom: 16px;
}

#top-contact .normal:last-child {
	margin: 0;
}

#top-header img {
	width: 50%;
	max-width: 100%;
}

/* Navigation bar */

nav {
	display: flex;
	justify-content: center;
	padding: 24px 0;
	background-color: #000000;
}

nav a {
	font-size: 20px;
	margin: 0 28px 0 0;
	color: #ffffff;
	text-decoration: none;
}

nav a:last-child {
	margin: 0;
}

nav a span{
	margin-left: 5px;
	font-size: 14px;
}

nav .dropdown {
	visibility: hidden;
	position: absolute;
}

/* Description */

#description {
	padding-top: 70px;
	display: flex;
	height: 100%;
}

#description > #d-text {
	padding-left: 4em;
	padding-right: 2em;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
}

#description > #d-text h1 {
	font-size: 60px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 0;
}

#description > #d-text p {
	font-size: 16px;
	line-height: 1.7em;
}

#d-image-wrapper {
	width: 50%;
	margin-top: 70px;
}

/* Gallery Section */

#gallery {
	display: flex;
	padding: 81px 0;
}

.gallery-item {
	display: block;
	width: 33.3%;
	padding: 150px 0;
	text-align: center;
	color: white;
	text-decoration: none;
	background-size: cover;
	font-size: 30px;
	text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4);
	position: relative;
}

.gallery-item:nth-child(1) {
	background-image: url('../img/lets-get-started.jpg');
}

.gallery-item:nth-child(2) {
	background-image: url('../img/my-projects.jpg');
}

.gallery-item:nth-child(3) {
	background-image: url('../img/3d-design.jpg');
}

/* Who we are Section */

section#about {
	padding: 100px 0;
	background-image: url('../img/who-we-are.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#description-wrapper {
	background-color: rgba(255, 255, 255, 0.72);
	display: flex;
	padding: 27px 0;
}

#description-wrapper figure {
	box-sizing: border-box;
	width: 50%;
	padding-top: 200px;
}

#description-wrapper figure h1 {
	margin: 0;
	padding: 0;
	font-size: 60px;
	line-height: 1em;
	text-align: center;
}

#description-wrapper figcaption {
	box-sizing: border-box;
	padding: 100px 50px;
	width: 50%;
	line-height: 1.8em;
	font-size: large;
}

#description-wrapper figcaption * {
	margin: 0;
	margin-bottom: 1em;
	text-align: justify;
}

#description-wrapper figcaption p:last-child {
	margin: 0;
}

/* Consultation Section */

#consultation {
	padding: 4% 0;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}

#consultation h2 {
	font-size: 50px;
	text-align: center;
	margin: 0;
	margin-bottom: 2.75%;
}

#consultation a {
	display: inline-block;
	font-size: 34px;
	font-weight: 700;
	padding: 0.3em 4em;
	border: 2px solid #000000;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	line-height: 1.7em;
	box-shadow: 0px 10px 18px -6px rgba(255,255,255,0.3);
}

#consultation a svg {
	margin-left: 0.3em;
}

#consultation a:hover {
	background-color: #000000;
	color: #ffffff;
	border-color: #ffffff;
}

#consultation .separator {
	height: 27px;
}

/* Estimate, Contact and Social Section */

#multi {
	display: flex;
	justify-content: center;
}

#multi > .wrapper {
	width: 89%;
	display: flex;
	margin-top: 54px;
	margin-bottom: 27px;
}

#multi > .wrapper section {
	width: 30%;
	margin: 0;
	margin-right: 5.5%;
	font-size: 16px;
}

#multi > .wrapper section:last-child {
	margin-right: 0;
}

#multi > .wrapper section h2 {
	font-size: 40px;
	margin: 0;
	line-height: 1em;
	padding-bottom: 10px;
}

#multi > .wrapper section:nth-child(2) h2 {
	text-align: center;
}

#multi > .wrapper section:not(:first-child) h2::before {
	content: '';
	display: block;
	height: 50px;
}

#free-estimate p {
	margin: 0;
	padding: 0;
}

#free-estimate p::after {
	display: block;
	content: '';
	height: 67px;
}

#free-estimate a {
	display: inline-block;
	margin-top: 9.27%;
	padding: 0.3em 2em;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.7em;
	border: 2px solid #000000;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 18px -6px;
}

#free-estimate a svg {
	margin-left: 7px;
}

#free-estimate a:hover {
	background-color: #000000;
	color: #ffffff;
	border-color: #ffffff;
}

#contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#contact li.contact-item a{
	color: #000000;
	text-decoration: none;
}

#contact li.contact-item:not(:last-child) {
	margin-bottom: 1.7em;
}

#social h2 {
	margin-bottom: 9.27% !important;
}

#social .social-wrapper {
	display: flex;
	align-items: center;
}

#social .social-wrapper a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	width: 32px;
	margin-right: 8px;
	border-radius: 3px;
	font-size: 20px;
	color: #ffffff;
}

a#ig {
	background-color: #517fa4;
	font-size: 24px !important;
}

a#fb {
	background-color: #3b5998;
}

a#gplus {
	background-color: #dd4b39;
	margin: 0 !important;
}
